.cardContainer {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  margin: 2vh auto;
  padding: 1vh;
}

@media (min-width: 767px) {
  .cardContainer {
    overflow-x: scroll;
    display: flex;
  }

  .card img {
    width: 300px;
  }
}
