.cardListContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  display: flex;
}

.cardList {
  margin: 2vh auto;
  padding: 1vh;
}

@media (min-width: 767px) {
  .cardList img {
    width: 335px;
  }
}
